# GenLayer Studio Next RPC URL
VITE_GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api

# GenLayer Studio Next Chain ID
VITE_GENLAYER_CHAIN_ID=61997

# Deployed Intelligent Contract Address (leave empty until deployed)
VITE_CONTRACT_ADDRESS=
